extends layout.pug


block content
    div(class="bookshelf-container")
        div(class="sidebar")
            ul
                li all
                li unread
                li currently reading
                li read

        div(class="main-page")
            table
                thead
                    th status
                    th rating
                    th review
                tbody
                    each book in userBookInfo
                        td=book.rating
                        td=book.review
                        td=book.status
