extends layout.pug


block content
    div(class="bookshelf-container")
        div(class="sidebar")
            ul
                li all
                li unread
                li currently reading
                li read

        div(class="main-page")
            table
                thead
                    th title
                    th status
                    th rating
                    th review
                tbody
                    each book in userBookInfo.Books
                        tr
                            td=book.name
                            td=book.UserBook.status
                            td=book.UserBook.rating
                            td=book.UserBook.review
