extends layout.pug


block content
    section(class='content-window')
        if(genreName !== undefined)
            p(class='genreName') #{genreName}
        div(class="container")
            each book in books
                a(href=`/book/${book.id}` class="book")= book.name
                    img(src=`../stylesheets/images/book-covers/${book.id}.png` class="book-cover")
