doctype html
html
  head
      block head
        title="Bad Reads"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet', href='/stylesheets/form.css')
  body
    div
      div
        h1
        image
      div
        button
        button
        input(type="text")

    block content
