doctype html
html
  head
      block head
        title="Bad Reads"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/layout.css")
        link(rel='stylesheet', href='/stylesheets/form.css')
  body
    nav(class="nav-bar")
      img(class="bad-reads-logo" src="../stylesheets/images/bad_reads.png")
      div
        span=locals.authenticated
        if locals.authenticated
          form(action="/user/logout" method="post")
            input(type="submit" value="Logout")
        else
          div
            span
              a(href="/user/login"): button Login
              a(href="/user/signup"): button Sign Up
      div
        input(type="text" class="nav-search-bar" placeholder="Look for bad books..ew")

    block content
