extends layout

block content
    if errors
        ul
            p The following error(s) occured:
            each error in errors
                li= error

    form(action="/users/login", method="post")
        div
            input(type="hidden" name="_csrf" value=csrfToken)
        div
            label Email Please
            input(type="text" name="email" value= email placeholder= 'Email' required)
        div
            label Password
            input(type="text" name="password" value= password placeholder='Password' required)
        div
            button(type="submit") Login
