extends layout.pug


block content
    form(action="/user", method="post")
        div
            input(type="hidden" name="_csrf" value= csrfToken)
        div
            label Username
            input(type="text" name="userName" required)
        div
            label Email Please
            input(type="text" name="email" required)
        div
            label Password
            input(type="text" name="password" required)
        div
            label Confirm Password
            input(type="text" name="confirmPassword" required)
        div
            button(type="submit") Submit
