extends layout.pug


block content
    form(action="/user", method="post")
        div
            input(type="hidden", name="_csrf", value= csrfToken)
        div
            label
            input(type="", name="", value="")
        div
            label
            input(type="", name="", value="")
        div
            label
            input(type="", name="", value="")
        div
            label
            input(type="", name="", value="")
