
.bookshelfColumns {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:lightblue;
}

.bookshelftable {
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.bookshelfrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:yellow;
}
.bsscontainer {
    display: grid;
    height: 100vh;
    width: 100%;
    /* background-color:grey; */
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}
