
.bookshelf-column {
    display:grid;
    grid-template-columns: 0.5fr 2fr 1fr 2fr;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 1px solid #000000;
    background-color: #F5F9FF
}
.bookshelf-title {
    font-size : 30px;
    font-weight: bold
}


.main-page {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.rating {
    font-size: 30px;
    background-color:  #f5f9ff;
    color: #292825;
}

.bookshelf-review {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bookshelf-container {
    font-family: 'Titillium Web', sans-serif;
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.sidebar {
    display: flex;
    flex-direction: row;
    background-color:#8B8C8F;
    height: 100vh;

}

.bookshelf-button {
    background-color: #5F9585;
    color: #f5f9ff;
    border: solid;
    border-color:#292825;
    border-radius: 4px;
}
.book-name {
    text-decoration: none;
    font-size: 20px
}
