@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

.nav-bar {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f9ff;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    height: 5em;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 2px -2px #8b8c8f;
}

#bad-reads-logo {
    height: 95%;
    padding: 5px;
    /* box-shadow: 0 4px 2px -2px #8b8c8f; */
}

.bad-tag-line{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #292825;
    font-size: 2em;
}

.nav-bar-btn {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    border-style: #292825;
}
/* END OF NAV BAR */


/* BEGIN FOOTER */
.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f5f9ff;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    height: 5em;
    width: 100%;
    box-shadow: 0 4px 2px -2px #8b8c8f;
}
